body {
  font-family: Arial, sans-serif;
}

form {
  margin: 20px 0;
}

label, input {
  font-size: 18px;
}

button {
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
}

#timer-display {
  font-family: 'Times New Roman', Times, serif;
  margin-left: 175px;
  font-size: 70px;
  color: #91bfff;
}

#stop-btn {
  background-color: #f44336;
  color: white;
}

#got-it-btn {
  display: none;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin-top: 20px;
}
