/* Custom scrollbar styles for Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 12px; /* width for vertical scrollbar */
    height: 12px; /* height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track background */
    border-radius: 10px; /* Roundness of the track */
}

::-webkit-scrollbar-thumb {
    background-color: #a6f1f3; /* Scrollbar thumb color */
    border-radius: 20px; /* Increase roundness for thumb */
    border: 3px solid #f1f1f1; /* Space around thumb to create a more rounded appearance */
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darken on hover */
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #8ca0bb #f1f1f1;
}
